@import url("./assets/font/font.css");

body {
    top: 0;
    margin: 0;

    height: inherit;

    background-color: #10111B;
    color: #F8FCFB;
    font-family: 'JetBrains Mono', "Fira Mono", "Segoe UI" , monospace;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #333 #1D1D1D;   /* scroll thumb and track */
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1D1D1D;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #333;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #1D1D1D;  /* creates padding around scroll thumb */
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
