@import url("https://code.cdn.mozilla.net/fonts/fira.css");

body {
    top: 0;
    margin: 0;

    height: inherit;

    background-color: #10111B;
    color: #F8FCFB;
    font-family: "Fira Mono", "Segoe UI" , monospace;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
  body {
      font-size: 16px;
  }
}

h1, h2 {
  padding-bottom: 11px;
  padding-top: 11px;
}

h3, h4 {
  padding-bottom: 9px;
  padding-top: 9px;
}

li {
  padding-bottom: 5px;
  padding-top: 5px;
}

p{
  padding-bottom: 3px;
  padding-top: 3px;
}

h1 { font-size:1.75em; }
h2 { font-size:1.5em; }
h3 { font-size:1.17em; }
h4 { font-size:1.00em; }
h5 { font-size:0.83em; }
h6 { font-size:0.67em; }

a {
    text-decoration: none;
    text-decoration-color: #318fea;
    color: #318fea;
}

ul {
    list-style-type: "- ";
}

section {
  margin: 40px;
  font-size: 20px;
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}


.container {
    width: 90%;
}

.home {
  height: calc(95vh - 25px);

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.navbar {
    width: 90%;
    height: 5vh;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #3B4253;
    border-bottom: 3px solid #0081c2;
}

@media screen and (max-width: 600px) {
  .container {
      width: 99%;
  }

  .navbar {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-height: 600px) {
  .home {
    height: 600px;
  }

  .navbar {
    height: 30px;
  }
}

.navbar-list {
    display: flex;
    flex-flow: row wrap;
}

.navbar-link {
    padding-left: 8px;
    padding-right: 8px;
    color: #F8FCFB;
}

.introsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: 25vh;
}

@media screen and (max-width: 600px) {
  .introsection {
      display: box;
      height: 20vh;
  }
}

.introduction {
    font-size: 1.44rem;
}

@media screen and (max-width: 600px) {
  .introduction {
      font-size: 20px;
  }
}

.header {
    font-size: 2.22rem;
    text-align: center;
    font-weight: bold;
}

.pin {
  width: 121px;
  height: 31px;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 32px;
    }
}

.profile {
    border: 10px solid #404B5D;

    border-radius: 50%;

    width: 225px;
    height: 225px;
}

@media screen and (max-width: 600px) {
  .profile {
      width: 175px;
      height: 175px;
  }
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-card {
  width: 95%;
  background: #101118;
  padding: 10px;
}

.unmaintained {
  border: 1px solid #888;
}

.maintained {
  border: 1px solid #117711;
}

.completed {
  border: 1px solid #5d0faa;
}

.no-padding {
  padding: 0
}
