/* flex */

.flex {
  display: flex;
}

@media screen and (orientation: portrait) {
  .flex {
    flex-direction: column;
  }
}

.d-center-flex {
  display: flex;
  justify-content: center;
}

.h-center-flex {
  display: flex;
  align-items: center;
}

.f-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divided-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

/* width */
.f-width {
  width: 100%;
}
