@import url("./assets/font/font.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url("./scrollbar.css");
@import url("./components.css");

body {
    top: 0;
    margin: 0;

    height: auto;
    min-height: 100vh;
    gap: 20px;

    background-color: #10111B;
    color: #fff;
    font-family: 'Source Sans Pro', 'JetBrains Mono', "Segoe UI" , sans-serif;
    font-size: 22px;

    background-image: url("../assets/lone.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Mono", monospace;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 98vw;
  height: inherit;
  margin-top: 20px; /* stay away from the top of the page */
  flex-direction: column;

  gap: 70px;
}

header {
  padding: 15px;
  width: 110%;
  background-color: #17192a;

  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  z-index:1;

  box-shadow: 0 2px 5px 0 #111;
}

nav {
  display: flex;
  gap: 40px;
}

.nav-item {
  font-size: 1.8rem;
  padding: .6rem .75rem;
  border-radius: 30px;
  box-shadow: 0 0 4px 3px #11111111;

  transition: box-shadow .4s ease-out, background-color .2s linear;
}

.nav-item:hover {
  background-color: #1c1f3d;
  box-shadow: 0 0 10px 5px #1a1e2b44;
}

.nav-item:active {
  background-color: #202447;
  box-shadow: 0 0 3px 3px #3f5384;
  opacity: 0.9;
}

main {
  background-color: #121321;
  width: 75%;
  border-radius: 40px;
  border: 3px solid #111;
  border-top: none;

  z-index: 0;
}

/* Real body */
.deco {
  aspect-ratio: 1600/150;
  width: 100%;
}

section {
  width: 90%;
}

.introduction {
  margin: 30px;
  width: 75%;
  gap: 50px;
  height: min-content;
}

.profile {
  position: relative;
  width: 15vw;
  height: 15vw;
  padding: 20px;
}

.profile .border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: 2px dashed #777;
  border-radius: 50%;

  animation: rotate 120s linear 0;
  animation-iteration-count: infinite;
}

.profile img {
  border-radius: 50%;
  width: inherit;
  box-shadow: 0 0 5px 7px #333333aa;
  transition: all .5s ease-out;
}

.profile:hover img {
  box-shadow: 0 0 5px 9px #444444aa;
}

/* footer */
footer {
  width: 20%;
  background-color: #17192a;
  border: 3px solid #111;
  border-radius: 30px;
  font-size: 1.1em;
  padding: 20px 40px;

  margin: 20px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
